* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

.logo {
  background-image: url(https://img.freepik.com/foto-gratis/disposicion-rectangular-suculentas-cactus-suculentas-plantador_1127-3108.jpg?size=626&ext=jpg);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(103, 141, 47, 0.123);
  font-size: 100px;
}

.header {
  align-items: center;
  background-color: rgba(216, 143, 143, 0.5);
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.nav-links {
  align-items: center;
  display: flex;
  list-style-type: none;
}

.nav-links::after {
  content: "";
  background-color: rgba(34, 49, 12, 0.404);
  height: 42px;
  position: relative;
  right: 20px;
  width: 2px;
}

.nav-links a {
  color: rgba(34, 49, 12, 0.404);
  font-size: 30px;
  margin-right: 40px;
  text-decoration: none;
  transition: transform 1s;
}

.nav-links:hover a {
  transform: scale(1.1);
  -webkit-text-stroke: 0.2px rgba(10, 78, 10, 0.664);
}

.button {
  display: none;
}

.ham-box {
  display: none;
  height: 202px;
  margin-top: 338px;
  transition: transform 0.2s ease;
  width: 191px;
}

.showHam .ham-box {
  display: block;
  z-index: 2;
}

.showHam .button {
  display: none;
}

.main {
  background-color: rgba(34, 49, 12, 0.404);
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  padding: 40px 120px;
}

.wallpaper {
  background-image: url(https://i.pinimg.com/originals/47/53/55/475355dc820dde852c9d35d5bf1fa087.jpg);
  border-radius: 20px;
  height: 650px;
  width: 400px;
}

.posts {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  height: 650px;
  justify-content: space-evenly;
  position: relative;
  width: 400px;
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  backdrop-filter: blur(5px) contrast(0.9);
}

.content {
  background-color: rgba(216, 143, 143, 0.335);
  border: 2px;
  border-color: gray;
  border-radius: 20px;
  color: black;
  margin-bottom: 10px;
  max-height: 210px;
  overflow: hidden;
  padding: 20px 20px;
  position: relative;
  text-align: justify;
}

.caption {
  background-color: white;
  border-radius: 10px;
  font-style: italic;
  height: 380px;
  margin-bottom: 20px;
  padding: 20px 20px 60px;
  max-width: 610px;
  list-style-type: none;
}

.read-more {
  background: linear-gradient(0deg, rgba(216, 143, 143, 1) 0%, rgba(216, 143, 143, 0.74) 50%, rgba(216, 143, 143, 0.096) 100%);
  bottom: 0;
  color: rgba(5, 5, 5, 0.815);
  font-weight: bold;
  height: 100%;
  max-height: 50px;
  left: 0;
  padding: 16px;
  position: absolute;
  text-align: center;
  text-decoration: unset;
  width: 100%;
}

.caption img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.footer {
  background-color: rgba(83, 84, 77, 0.87);
  display: flex;
  height: 220px;
}

.logo-social {
  padding: 0px 0px 0px 25px;
}

.logo-social p {
  font-weight: bold;
  color: #000000b0;
}

.social {
  display: flex;
  list-style-type: none;
  padding: 15px 0 0 0;
}

.social-links img {
  height: 28px;
  width: 32px; 
}

.menu-footer {
  list-style-type: none;
  padding: 50px 100px 0;
}

.menu-links-footer a {
  text-decoration: none;
  color: #000000a1;
  font-weight: bold;
  font-size: 25px;
}

@media (max-width: 639px) {

  .header {
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
  }

  .links {
    display: none;
    flex-direction: column;
  }

  .ham-box {
    background-color: rgb(235 198 198);
    display: none;
    height: 305px;
    margin-top: 405px;
    position: absolute;
    right: 0;
    transition: transform 0.2s ease;
    width: 254px;
  }

  .showHam .links {
    display: block;
    position: absolute;
    top: 154px;
    right: 0;
    z-index: 2;
  }

  .showHam .nav-links a {
    font-size: 30px;
  }

  .showHam .nav-links {
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .showHam .nav-links::after {
    height: 1px;
    left: 0;
    position: absolute;
    width: 130px;
  }

  .logo {
    font-size: 46px;
    font-weight: bold;
    padding: 10px;
  }

  .button {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-top: 10px;
  }

  .item-button {
    background-color: gray;
    border-radius: 4px;
    height: 3px;
    margin-bottom: 5px;
    width: 29px;
  }

  .showHam .button {
    display: block;
  }

  .showHam .item-button-1 {
    display: none;
  }

  .showHam .item-button-2 {
    position: absolute;
    right: 30px;
    transform: rotate(45deg);
  }

  .showHam .item-button-3 {
    position: absolute;
    right: 30px;
    transform: rotate(-45deg); 
  }

  .main {
    padding: 20px;
    flex-direction: column;
    height: 100%;
  }

  .posts {
    height: 550px;
    margin-bottom: 30px;
    width: 100%;
    padding: 5px 15px;
  }

  .content {
    font-size: 15px;
    height: 170px;
    margin-left: auto;
    padding: 20px 30px;
    width: 100%;
  }

  .wallpaper {
    height: 550px;
    width: 100%;
  }

  .img1-container {
    width: 100%;
    padding: 30px 0px;
  }

  .caption {
    width: 100%;
  }

  .footer {
    flex-direction: column;
  }

  .menu-footer {
    display: none;
  }
}